{% extends 'base.html' %}
{% load crispy_forms_tags %}
<!-- Title Of page -->
{% block 'title' %} Login Page {% endblock 'title' %}

{% block 'mainContent' %}

<div class="container-fluid">
    <div class="login d-flex align-items-center">
        <div class="col-12 col-lg-6 mx-auto">
            <form action="." class="account-form p-4 col-lg-10 mx-auto" method="POST">
                {% csrf_token %}
                <fieldset>
                    <legend class="mb-4">Login Page</legend>
                    <hr>

                    {{ form|crispy }}
                </fieldset>
                <p class="text-center pb-3 mt-2">
                    <a href="{% url 'account:pwdreset' %}" class="text-muted">Forgot Password</a>
                </p>
                <button class="btn btn-success btn-block py-2 mb-3 fw500 w-100" type="submit">
                    Login</button>

                <p class="text-center pb-3">
                    <a href="{% url 'account:register' %}">New to Palav-Poshaak </a>
                </p>
            </form>
            
        </div>
    </div>
</div>

{% endblock 'mainContent' %}
