@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');


body{
    font-family: 'Amiri', serif;
    font-weight: 600;
    background-color: #d5cfdff3;
}




.dropdown-menu{
    top:65px;
    left:0px;
    padding:10px;
}





.fs12{
    font-size: 12px;
}
.fs15{
    font-size: 0.9375rem;
}

.fw300{
    font-weight: 300;
}
.fw500{
    font-weight: 500;
}

 
/* Basket Menu */

.basket-qty{
    color: #fff;
    background: #d42114;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    height: 20px;
    width: 20px;
    position: absolute;
    box-sizing: content-box;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -5px;
    right: -1px;
}

.basket-btn{
    position: relative;
}

.basket-btn:hover, .basket-btn:focus, .basket-btn:active, .basket-btn.active{
    font-weight:bold;
    transition-duration: 0.5s;
}






/* Footer section */
.footer > div > div > ul > li {
    padding-bottom: 8px;
}
 footer{
    color:white;
    background-color:#111;
}









/* Media Query */

@media (min-width: 1000px){
    .container{
        max-width: 1000px;
    }
}
@media (max-width: 1200px){
    .container{
        max-width: 100%;
        padding:0 24px;
    }
}
