{% extends 'base.html' %}
{% load crispy_forms_tags %}
<!-- Title Of page -->
{% block 'title' %}Reset Status{% endblock 'title' %}
{% block 'mainContent' %}
<div class="container">
    <div class='mb-5'>
        {% if 'email' in request.get_full_path %}
        <h3 class="mb-4">Password Reset Success</h3>
        <p>Check your email for instructions</p>
        {% endif%}
        {% if 'complete' in request.get_full_path %}
        <h3 class="mb-4">You have successfully reset your Password</h3>
        <h5>Now you are able to login with your new password</h5>
        <a href="{% url 'account:login' %}"><button class="btn btn-success btn-sm">Tap to login</button></a>
        {% endif%}
    </div>
</div>
{% endblock 'mainContent' %}
